.game {
    position: relative;
  }
  
  .game__code {
    position: relative;
    z-index: 998;
  }
  
  .info-bar {
    position: relative;
    background-color: rgb(172, 192, 175);
    display: flex;
    align-items: center;
    z-index: 999;
  }
  
  .info-bar__logo {
    width: 75px;
    animation: App-logo-spin infinite 20s linear;
  }
  
  .info-bar__title {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #232323;
    font-size: 1.5em;
  }
  
  .info-bar__subtitle {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1em;
  }
  
  .info-bar__link {
    text-decoration: none;
    color: #234234;
  }
  
  .game {
    text-align: center;
  }
  
  .board {
    display: inline-block;
    margin: 30px;
    padding: 10px;
    background: brown;
    
  }
  
  .slot-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .slot {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background-color: #3E3E3E;
    border-radius: 50%;
  }
  
  .slot--active {
    cursor:pointer;
    transition: 0.3s;
    background-color: rgb(175, 170, 170);
  }
  
  .slot--active:hover {
    border: solid 2px white;
    box-sizing: border-box;
  }
  
  .row__check {
    border-style: none;
    text-transform: lowercase;
    color: rgba(110, 241, 50, 0.932);
    font-size: 1.3em;
    background: none;
    cursor: pointer;
    padding: 0;
    outline: 0;
    transition: 0.3s;
  }
  
  .row__check:hover {
    color: rgb(22, 128, 31);
  }
  
  .row__check:disabled {
    color: rgb(46, 46, 46);
    cursor: default;
  }
  
  .options-outer {
    text-align: center;
  }
  
  .options-inner {
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 30px 30px;  
  }
  
  .option {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s;
    margin: 5px;
  }
  
  .option:hover,
  .option--active {
    border: solid 1px white;
  }
  
  .color-1 {
    background-color: #205E35;
    box-shadow: 0 0 4px #205E35;
  }
  
  .color-2 {
    background-color: #1E4450;
    box-shadow: 0 0 4px #1E4450;
  }
  
  .color-3 {
    background-color: #81572C;
    box-shadow: 0 0 4px #81572C;
  }
  
  .color-4 {
    background-color: #81392C;
    box-shadow: 0 0 4px #81392C;
  }
  
  .color-5 {
    background-color: #79A688;
    box-shadow: 0 0 4px #79A688;
  }
  
  .color-6 {
    background-color: #69848D;
    box-shadow: 0 0 4px #69848D;
  }
  
  .color-7 {
    background-color: rgb(232, 245, 59);
    box-shadow: 0 0 4px rgb(232, 245, 59);
  }
  
  .color-8 {
    background-color: #E2AFA6;
    box-shadow: 0 0 4px #E2AFA6;
  }
  
  .clue-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    
  }
  
  .clue {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .clue--0 {
    background-color: #bdbbba;
  }
  
  .clue--1 {
    background-color: #fc9230;
    box-shadow: 0 0 3px white;
  }
  
  .clue--2 {
    background-color: rgb(19, 206, 75);
    box-shadow: 0 0 3px rgb(85, 85, 85);
  }
  
  .game-over {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(172, 192, 175);
  }
  
  .game-over__header {
    margin-top: 150px;
    margin-bottom: 0;
  }
  
  .game-over__score {
    margin: 0;
  }
  
  .game-over__new {
    cursor: pointer;
    background: none;
    border: solid rgb(172, 192, 175) 2px;
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(172, 192, 175);
    font-size: 1.3em;
    padding: 5px 10px;
    transition: 0.3s;
  }
  
  .game-over__new:hover {
    background-color: rgb(172, 192, 175);
    color: #232323;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }